body { 
  min-width: 370px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(51, 51, 51);
  cursor: default;
  margin: 0;
}

:root {
  --main-color: #607d8b;
  --secondary-color: #ff9102;
}

#tabs {
  border-radius: 0px;
  background: #fff;
  color: #333;
  position: relative;
  padding: 0 0 .2px 0;
}

#tabs > ul {
  margin: 0 0 2rem 0;
  padding: .2em .2em 0;
  color: #ddd;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}

#tabs > ul:after {
  clear: both;
  content: "";
  display: table;
  border-collapse: collapse;
}

#tabs > ul li.active {
  border-bottom: 1px solid var(--main-color);
}

#tabs > ul li.active a {
  color: var(--main-color) !important
}

#tabs > ul li {
    font-size: 1.15em;
    list-style: none;
    color: #454545;
    display: inline-flex;
    width: 25%;
    margin: 0;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    transition: all .5s;
}

.tab-btn {
    text-decoration: none;
    color: #454545;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
}

.btn {
    display: block;
    padding: .8em;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .45);  
    background-color: var(--main-color);
    color: #fff;      
    text-decoration: none;
    transition: background .3s;
    width: 100px;
    text-align: center;
    margin: 20px;
    height: 20px;
}

#reset {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background: #fff;
  box-shadow: none;
}

#action-btns {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #f5f5f5;
}

#tabs-opt p {
  width: 350px;
}
#tabs > div {
  font-size: 1.1em;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
p, li, a {
  font-family: 'Open Sans', sans-serif;
}
h3 {
  font-size: 16px;
  font-family: "Merriweather", serif;
}
#feedback {
  text-decoration: none;
  display: block;
  margin: 1em;
}
#howTo li, #howTo h4 {
  font-size: 1.1em;
  line-height: 2em;
}
#howTo a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.3em;
  color: gray;
}
#howTo h4, ul {
  margin-left: 1em;
}
#howTo img {
  vertical-align: middle;
}

input[type="checkbox"]+label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 90%;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 2px solid #9e9e9e;
    border-radius: 3px;
    margin-top: 0;
    transition: all linear .3s;
}

  input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
    padding: 0;
  }

input[type="checkbox"]+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  margin: 0;
  display: block;
  padding: 0;
}

input[type="checkbox"]:checked+label:after {
  top: 0px;
  left: 90%;
  width: 8px;
  height: 18px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid  var(--secondary-color);
  border-bottom: 2px solid  var(--secondary-color);
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

#new_opt {
  background: #EF5350;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
}
#content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#yt_options, #gp_options, #sp_options {
  min-height: 250px;
}

.opt {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 100%;
  flex-basis: 0;
  flex-grow: 1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
    0 3px 1px -2px rgba(0,0,0,0.12), 
    0 1px 5px 0 rgba(0,0,0,0.2);
}

.input_set {
    color: #181818;
    font-size: 16px;
    padding: 24px;
    border-bottom: 1px solid #ddd;
}

.opt h3 {
    padding: 24px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    background: var(--main-color);
    color: #fff;
}

.more {
  font-size: 16px;
}

.more-text {
  border-bottom: 1px solid #ddd;
  display: none;
  font-size: .9em;
  padding: 5px;
  width: 100%;
  margin: 0;
}

#response_msg {
  text-align: center;
}

.as-warning {
  color: #ff0000;
}

/** Ripple effect **/

.btn, .tab-btn {
  position: relative;
  overflow: hidden;
}

.btn:after, .tab-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.btn:focus:not(:active)::after, .tabs-btn:focus {
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

@media only screen and (max-width: 1000px){
  .opt {
    flex-basis: 50%;
  }
  #global_options {
    border-top: 1px solid #f5f5f5;
  }
}

@media only screen and (max-width: 830px){
  #sp_options {
    border-top: 1px solid #f5f5f5;
  }
  #gp_options {
    border-right: none;
  }
  .opt {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 660px){
  #gp_options, #sp_options {
    border-top: 1px solid #f5f5f5;
    border-right: none;
  }
  #yt_options {
    border-right: none;
  }
}