@import url('https://fonts.googleapis.com/css?family=Kalam:400,700|Lato');

:root {
	--new-color: #607d8b;
	--main-color: #607d8b;
	--secondary-color: #ff9102;
}

#lyrics a {
	text-decoration: none;
	border-bottom: none;
}

#lyrics a:hover {
	text-decoration: none;
}

#lyrics {
	background: #fff;
	padding: 0;
	overflow: visible;
	backface-visibility: hidden;
	perspective: 1000px;
	border-top: 1px solid var(--main-color);
	border-bottom: 1px solid var(--main-color);
	border-left: 1px solid var(--main-color);
	margin: 0 0 1em .7em;
	font-family: 'Lato', sans-serif;
}

#lyrics p{
	backface-visibility: hidden; 
	perspective: 1000px;
	font-family: 'Lato', sans-serif;
	font-size: 14.5px;
	margin: 10px 0;
	line-height: 1.2;
	max-width: 100%;
	cursor: text;
}
#lyrics.can_drag {
	position: absolute;
	z-index: 199999000000;
	width: 90%;
	top: 5px; 
	right: 5px;
}
#lyrics.can_drag #words {
	cursor: move;
}
.pop_out_btn {
	color: #fff;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 25px;
	transition: all .4s linear;
	font-size: 25px;
	font-weight: 800;
	padding: 0 .2em;
	text-align: center;
}
#words {
	background: #fff;
	margin: 0;
	padding: 20px 3% 20px 3%;
	color: #000;
	overflow-y: scroll;
	position: absolute;
	top: 35px;
	right: 0;
	left: 0;
	height: calc(100% - 76px);
}
#err_msg {
	padding-top: 30%;
	margin: 0 auto;
	text-align: center;
}
.btn_bar {
	width: 100%;
	height: 35px;
	background: var(--main-color);
	position: relative;
	right: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#credits {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 12px;
}
#credits a {
	color: inherit;
	text-decoration: underline;
}

/*------------- Styles for the scrollbar ---------------*/
#words::-webkit-scrollbar {
	width: 11px;
	height: 10px;
}
#words::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
#words::-webkit-scrollbar-thumb {
	background: var(--main-color);
	border: 1px solid #fff;
	border-radius: 10px;
}
#words::-webkit-scrollbar-thumb:hover {
	background: var(--main-color);
}
#words::-webkit-scrollbar-thumb:active {
	background: var(--main-color);
}
#words::-webkit-scrollbar-track {
	background: #ffffff;
	border-right: 1px solid var(--main-color);
	border-left: 1px solid var(--main-color);
}
#words::-webkit-scrollbar-track:hover {
	background: #ffffff;
}
#words::-webkit-scrollbar-track:active {
	background: #ffffff;
}
#words::-webkit-scrollbar-corner {
	background: transparent;
}
/*-------------------- End scrollbar styles --------------------*/

#lyrical_title {
	font-family: 'Kalam', cursive;
	position: relative;
	top: -3px;
	font-weight: 700;
	color: #fff;
	margin: 0 10px 0 0;
	padding: 0;
	font-size: 25px;
}

/*------------- Main control button ---------------*/
#show_hide_lyrics {
	display: block;
	padding: .8em;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .35);  
	background-color: var(--secondary-color);
	color: #fff;		  
	text-decoration: none;
	transition: background-color .3s;
	text-align: center;
	border-bottom: none;
}
#show_hide_lyrics:hover {
	text-decoration: none;
	transition: background-color .3s;
}
#show_hide_lyrics:active{
	text-decoration: none !important;
}
/** Ripple effect **/

#show_hide_lyrics {
  position: relative;
  overflow: hidden;
}

#show_hide_lyrics:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

#show_hide_lyrics:focus:not(:active)::after{
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
/*------------- end ----------------*/

#options-btn {
	color: #fff;
    font-size: 25px;
    font-weight: 800;
    transition: 0.5s ease-in-out;
    margin-right: 5px;
    line-height: 35px;
    width: 25px;
}
#translate_icon {
	height: 25px;
	z-index: 1919;
}
#translate_icon:hover {
	cursor: pointer;
}

/*----------------------- Styles for the search form --------------------*/
#search_form {
	margin: 0 auto;
	padding-top: 30%;
}
#search_form h3 {
	text-align: center;
}
#search_form input[type=text] {
	outline: none;
	border: none;
	border-bottom: 1px solid #ff9102;
	background: transparent !important;
	height: 1.6rem;
	width: 98%;
	font-size: 1em;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
	transition: all 0.3s;
	color: #000;
}
#search_form input[type=text]:focus {
	border-bottom: 1px solid #ff9102;
	box-shadow: 0 1px 0 0 #ff9102;
}
#search_song {
    display: block;
	padding: 10px;
	overflow: hidden;
	border: none;
	border-radius: 5px;
	background-color: #ff9102;
	color: #fff;		  
	text-decoration: none;
	transition: background-color .3s;
	width: 100%;
}
#search_song:hover {
    background-color: #ee792c;
    transition: background-color .3s;
    cursor: pointer;
}
label {
	font-size: .9em;
	color: #ff9102;
}
/*--------------------- End search form styles --------------------*/

#words p.highlight {
	background: #ADD8E6;
    padding: 10px;
    margin: 0;
    color: #000;
}
#words:focus {
	border: none !important;
	outline: none !important;
}
.resize-fix.can_drag {
	position: fixed !important;
	z-index: 2147483647;
	right: 0 !important;
	overflow: visible;
	width: 400px;
}
.resize-fix {
	position: static !important; /* Prevents issues on GP */
}

/*-------------------- Styles for the dark mode -----------------*/
#lyrics.dark-mode {
	color: #fff;
	background: rgb(17, 17, 17);
	border-color: rgb(35,35,35);
}
#lyrics.dark-mode .btn_bar {
	background: rgb(35,35,35);
}
#lyrics.dark-mode .pop_out_btn {
	background: inherit;
}
.dark-mode #words::-webkit-scrollbar-thumb {
	background: rgb(35,35,35);
	border: 1px solid rgba(136, 136, 136, 0.4);
	border-radius: 10px;
}
.dark-mode #words::-webkit-scrollbar-thumb:hover {
	background: rgb(35,35,35);
}
.dark-mode #words::-webkit-scrollbar-thumb:active {
	background: rgb(35,35,35);
}
.dark-mode #words::-webkit-scrollbar-track {
	background: rgba(136, 136, 136, 0.2);
	border-right: 1px solid rgb(35,35,35);
	border-left: 1px solid rgb(35,35,35);
}
.dark-mode #words {
	color: inherit;
	background: inherit;
}
.dark-mode #search_form input[type=text] {
	color: #fff;
}
/*----------------- End dark mode styles -------------------*/

/*----------------- Styles for the dropdown menu -------------------*/
#options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 22222222;
    background: #fff;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    color: #000;
    width: 150px;
}
#mode-toggle input{
	height: 0;
	width: 0;
	visibility: hidden;
	margin-left: 6px;
}
#mode-toggle label {
	cursor: pointer;
	text-indent: 23px;
	line-height: 20px;
	color: #fff;
	width: 45px;
	height: 20px;
	background: #999;
	display: block;
	border-radius: 50px;
	position: relative;
	font-size: 12px;
}
#mode-toggle label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -1px;
	width: 22px;
	height: 22px;
	background: #F1F1F1;;
	border-radius: 20px;
	transition: 0.3s;
	box-shadow: -2px 2px 4px #ccc;
}
#mode-toggle input:checked + label {
	background: #ffcf90;
	text-indent: 6px;
}
#mode-toggle input:checked + label:after {
	left: 46px;
	transform: translateX(-100%);
	box-shadow: 2px 2px 4px #ccc;
	background-color: rgb(255, 145, 2);
}
#options span {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	font-size: 14px;
	transition: background 0.4s linear;
	color: rgba(0,0,0,0.8);
}
#options-btn:active {
	transform: rotate(360deg);
}
#options-btn:hover {
	cursor: pointer;
}
#right, #left {
	display: flex;
	align-items: center;
}
#options span:hover {
	background-color: #f5f5f5;
    cursor: pointer;
}
/*----------------- End dropdown menu styles -------------------*/

.dark-mode #yandex a {
	color: #fff !important;
}

#yandex a {
	color: #000 !important;
}
